/* app css stylesheet */
* {
  box-sizing:border-box;
}
body, html {
  overflow-x: hidden;
}
.container {
  position:relative;
  background:blue;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow-x: hidden;
}
.menu-open.container{
  margin-left:320px;
  margin-right:-320px;

}
.menu-open .nav {
  left:0;
  overflow:hidden;
}
.menu-open .header {
  left:320px;
  right:-320px;
}
.header {
  position:fixed;
  top:0;
  right:0;
  left:0;
  height:55px;
  background:black;
  z-index: 1000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .menu-button{
  position: absolute;
  top: 0;
  left:0;
  height:55px;
  width:55px;
  line-height: 50px;
  z-index: 1000;
  font-size: 30px;
  text-align: center;
  background-color:darkred;
}
.header .title{
  position: absolute;
  top:0;
  left:0;
  right:0;
  font-size: 40px;
  line-height: 55px;
  background:black;
  margin:0 auto;
  text-align: center;
  z-index:999;
  color:white;

}
.header .nav-title{
  font-size: 24px;
  line-height: 32px;
  height:55px;
  width:100%;
  background:black;
  padding: 0;
  margin:0;
  display: inline-block;
  color:white;

}
.nav {
  position:fixed;
  margin:0;
  padding:0;
  list-style: none;
  left:-320px;
  width:320px;
  top:0px;
  height:120vh;
  background:green;
  z-index: 999;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}
.nav li {
  width:100%;
  background:white;
  border-bottom: 1px solid black;

}
.nav a{
  text-decoration: none;
  line-height: 36px;
  font-size:24px;
  padding:0 10px;
  display:block;
  color:black;
}
.nav a.active {
  color:red;
}
.nav a:hover, .nav a:active, .nav a:focus{
  color:red;
}
.content{
  padding-top:55px;
  background:orange;
  overflow-x: hidden;
  overflow-y: visible;
}
